<div class="main-container">
    <div class="col">
      <div class="login-container">
        <h4>Nouveau sur L&J beauty ?</h4>
        <form [formGroup]="createUserForm" (ngSubmit)="signup()">
          <div class="form-group">
            <label for="f_name">Nom</label>
            <input type="f_name" id="f_name" formControlName="f_name">
            <label for="l_name">Prénom</label>
            <input type="l_name" id="l_name" formControlName="l_name">
            <label for="adress">Adresse</label>
            <input type="adress" id="adress" formControlName="adress">
            <label for="phone">Téléphone</label>
            <input type="phone" id="phone" formControlName="phone">
            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" formControlName="email"> 
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password">
          </div>
          <button type="submit" [disabled]="createUserForm.invalid">Créer un compte</button>
        </form>
        <div class="horizontal-line"></div>
        <h4>Vous avez déjà utilisé notre L&J Beauty ?</h4>
        <button (click)="login()">Se connecter</button>
      </div>
    </div>
    <div class="col img">
      <img src="../../assets/img/couverture-login.png" alt="image de couverture">
    </div>
</div>
