<nav class="nav navbar-nav sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <a (click)="onHomePage()">
                        <img src="../../assets/logo_transparent.png" class="logo" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue">
                    <ul>
                        <li (click)="onHomePage()">
                            <i class="bi bi-house-door"></i>
                            Home
                        </li>
                        <li (click)="onContactUsPage()">
                            <i class="bi bi-telephone"></i>
                            Contact us
                        </li>
                        <li (click)="onCartPage()">
                            <i class="bi bi-cart-fill"></i>
                            Cart
                        </li>
                        <li *ngIf="(isAuthenticated | async) ; else notAuthenticated" (click)="onSignPage()"><button class="btn btn-primary btn-log">Logout</button></li>
                        <ng-template #notAuthenticated>
                            <li (click)="onSignPage()"><button class="btn btn-primary btn-log">Login</button></li>
                        </ng-template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<mat-divider></mat-divider>

