.product{
    margin: 10px 0;
    min-width: 25vw;
    max-width: 70vw;
}
a{
    text-decoration: none;
}
.btn{
    background-color: #dc8a17;
    border: none;
    width: 100%;
}

.add-cart-btn button:hover{
    background-color: #133213;
}
.image-product-card{
    max-width: 30vw;
}